
%h1 Chart Stocks
= form_tag({:controller => "stocks", :action => "charts", :method => "get"}, {remote: true}) do
  = text_area_tag(:stocks, @stocks)
  -#%div 
    -#=submit_tag("View")

%ul
-@watchlists.each do |wl|
  %li
    %a{:id => wl.id ,:class => "link"} 
      =wl.name

-@stock_symbols.each do |stock|
  %div{:class => "chart"} 
    = image_tag 'http://chart.finance.yahoo.com/z?s=' + stock + '&t=1y&q=l&l=on&z=l&p=e50,e200,p&a=m26-12-9&lang=en-US&region=US'
    %button{:class => "chart_button"} close
  %h
